*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(225deg, #a8edea 0%, #fed6e3 100%);
    color:#666;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:2% auto;
    width:30%;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
.city_Input{
    width:100%;
    padding:4px;
    font-size: 1.25rem;
}
.app_Name{
    text-align: center;
    padding:0.8rem;
    font-size: 2rem;
    font-family: sans-serif;
}
.weather{
    font-size: 1.25rem;
    margin:0 4px;
}
.weather label{
    padding: 5px;
}
.temp_details{
    margin:4px 0;
    font-size:1.5rem;
}
.hewa_details{
    text-align: center;
}
.city_name{
    margin:3px 0;
    font-size: 1.25rem;
}
.weather_conditions{
    margin:3px 0;
}